@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');

:root {
    --xylemyellow: #FFB13D;
    --xylemblue: #01547C;
    --otherBlue: #21698C;
    --lightblue: rgba(1, 84, 124, 0.1);
}

body {
    font-family: 'cabinet grotesk';
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a.btn {
    padding: 15px 45px 15px 45px;
    background-color: var(--xylemyellow);
    color: white;
    border-radius: 5px;
    transition: all 0.1s;
}

a.btn:active {
    transform: scale(0.9);
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--xylemblue);
    opacity: 0.7;
}

main {
    text-align: center;
}

.highlight {
    background-color: var(--xylemyellow);
    opacity: 1;
}

.except {
    opacity: 1;
}